.dash-component {
  position: relative;
  left: 10%;
  top: 120px;
  width: 85%;
}

.flex-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-component-lg {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .flex-component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .flex-component-lg {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .dash-component {
    position: relative;
    top: 120px;
    width: 100%;
    left: 0px;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
