.landing-page-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1160px) {
  .landing-page-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
